@import "../../../common/sytle/color.scss";
:host {
  background-color: $base;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 6vh;
  min-height: 35px;
  line-height: 6vh;
  color: #ffffff;
  .top-bar-left,
  .top-bar-right {
    margin: 0px 24px;
    display: flex;
    align-items: center;
  }
  .top-bar-left {
    .logo-img {
      height: 3.5vh;
      background-size: cover;
      cursor: pointer;
    }
    span {
      padding-left: 15px;
      font-size: 2vh;
      // font-weight: bold;
      cursor: pointer;
    }
  }
  i,
  .username,
  nz-select {
    margin-right: 15px;
    width: 80px;
  }
  .username {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  i{
    font-size: 20px;
    width: 24px;
  }
}

.img {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
}
a {
  padding-right: 20px;
}

.head-example {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
}

.nz-popover-content {
  width: 150px;
  padding: 0px;
  hr {
    margin: 10px 0px;
  }
  button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    i {
      padding-right: 10px;
    }
  }
}
