<div class="top-bar-left" nz-tooltip nzTooltipTitle="open menu" (click)="onclickMenu()">
  <i nz-icon nzType="menu" nzTheme="outline"></i>
  <span>Ng Mi Front-End</span>
</div>

<div class="top-bar-right">
  <i nz-tooltip [nzTooltipTitle]="isHome?'Edit  Home Page':'Go Home Page'" nzTooltipPlacement="left" nz-icon
    [nzType]="isHome?'qrcode': 'home'" nzTheme="outline" (click)="onOption()"></i>

  <nz-select nzShowSearch nzSize="small" nzPlaceHolder="Select a person" [(ngModel)]="selectedLanguage">
    <nz-option nzLabel="简体中文" nzValue="zh"></nz-option>
    <nz-option nzLabel="English" nzValue="en"></nz-option>
  </nz-select>

  <div class="username">
    Carte Zhou
  </div>

  <img class="img" src="../../../assets/imgs/cole.jfif" alt="" nzType="primary" nz-popover
    nzPopoverPlacement="bottomRight" [(nzVisible)]="visible" (nzVisibleChange)="change($event)"
    [nzPopoverContent]="contentTemplate">

  <ng-template #contentTemplate>
    <div class="nz-popover-content">
      <button nz-button nzType="primary" (click)="setPrifle()"> <i nz-icon nzType="user"></i>个人资料</button>
      <button nz-button nzType="primary" [disabled]="!isHome" (click)="openHoneEdit()"> <i nz-icon
          nzType="setting"></i>编辑界面</button>
      <hr>
      <button nz-button nzType="primary" (click)="logOut()"><i nz-icon nzType="logout"></i> Logout</button>
    </div>
  </ng-template>
</div>
