@import "../../../common/sytle/color.scss";

//  drawer style for appp-home
::ng-deep #app-home-drawer {
  background: #606266;
  padding: 15px;
  .flex-row {
    padding: 10px;
    display: flex;
    &.option {
      margin-top: 30px;
      justify-content: space-between;
      button{
        width: 80px;
      }
    }
    .title-left {
      width: 80px;
      color: #ffffff;
    }
    nz-switch,
    nz-switch button,
    nz-select,
    .reset-default,
    nz-input-number {
      margin-left: auto;
      width: 85px;
    }
  }
}
::ng-deep .ant-modal-header{
  background-color: $base;
}

:host {
  display: block;
  height: 94vh;
  width: 100vw;
  padding: 0px 24px 24px 24px;
  box-sizing: border-box;
  background-color: $base;
  position: relative;
  .home-title-top-bar{
    height: 6vh;
    line-height: 6vh;
    position: absolute;
    top: -6vh;
    left: 50vw;
    transform: translate(-150px);
    width: 300px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
  }
  #home-conent {
    background-color: lighten($base, 30%);
    border-radius: 20px;
    height: 100%;
    border: 2px;
    border-style: inset outset outset inset;
    .core-conent {
      height: calc(94vh - 50px);
    }
  }
  .bottom-option {
    height: 50px;
    bottom: 24px;
    right: 0px;
    margin: 0px 30px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      width: 108px;
      margin-right: 15px;
    }
  }
  // back next
  .button {
    position: absolute;
    width: 30px;
    top: calc(50% - 15px);
    z-index: 100;
    &.back {
      left: 28px;
    }
    &.next {
      right: 28px;
    }
  }
}

.app-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 100%;
  margin: 0px 35px;
  max-height: calc(94vh - 74px);
  .app-item {
    width: 150px;
    height: 150px;
    border: 2px outset #409eff;
    &.option-add {
      font-size: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: #dcdfe6;
      &:hover {
        color: #ffffff;
        background-color: #409eff;
      }
      &:active {
        opacity: 0.5;
      }
    }
    .app {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      .app-icon {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .app-title {
        width: 100%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        padding: 0px 10px;
      }
      .option-delete {
        position: absolute;
        top: -6px;
        right: -6px;
        width: 24px;
        height: 24px;
        background: #f56c6c;
        border-radius: 12px;
        text-align: center;
        line-height: 24px;
        color: #ffffff;
        &:hover {
          background: #f13333;
        }
      }
    }
  }
}
