<div class="home-title-top-bar">
  <i nz-icon nzType="appstore" nzTheme="outline"></i>  Wellcom Home Page
</div>

<nz-drawer [nzClosable]="false" [nzVisible]="UICtrl.visibleDrawer" nzPlacement="right" nzTitle="个性客制"
  (nzOnClose)="drawerclose()">
  <!-- <ng-container *nzDrawerContent> -->
  <div id="app-home-drawer">
    <div class="flex-row">
      <div class="title-left">
        恢复默认:
      </div>
      <button class="reset-default" nz-button nzSize="small" nzType="default" (click)="configDefault()">Reset</button>
    </div>
    <div class="flex-row">
      <div class="title-left">
        自动切换:
      </div>
      <nz-switch [(ngModel)]="UIModle.setConfig.nzAutoPlay" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
    </div>
    <div class="flex-row">
      <div class="title-left">
        划动切换:
      </div>
      <nz-switch [(ngModel)]="UIModle.setConfig.nzEnableSwipe" nzCheckedChildren="开" nzUnCheckedChildren="关">
      </nz-switch>
    </div>
    <label class="flex-row">
      <div class="title-left">
        切换时间:
      </div>
      <nz-input-number nzSize="small" [(ngModel)]="UIModle.setConfig.nzAutoPlaySpeed" [nzMin]="0" [nzMax]="10000"
        [nzStep]="100" [nzDisabled]="!UIModle.setConfig.nzAutoPlay">
      </nz-input-number>
    </label>
    <div class="flex-row">
      <div class="title-left">
        动画效果:
      </div>
      <nz-select nzSize="small" [(ngModel)]="UIModle.setConfig.nzEffect">
        <nz-option nzValue="scrollx" nzLabel="scrollx"></nz-option>
        <nz-option nzValue="fade" nzLabel="fade"></nz-option>
      </nz-select>
    </div>

    <div class="flex-row">
      <div class="title-left">
        自动补位:
      </div>
      <nz-switch [(ngModel)]="UIModle.setConfig.allowEmpty" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
    </div>

    <label class="flex-row">
      <div class="title-left">
        APP大小:
      </div>
      <nz-input-number nzSize="small" [(ngModel)]="UIModle.setConfig.appSize" [nzMin]="60" [nzMax]="300" [nzStep]="10">
      </nz-input-number>
    </label>

    <label class="flex-row">
      <div class="title-left">
        最小间距:
      </div>
      <nz-input-number nzSize="small" [(ngModel)]="UIModle.setConfig.appBaseMagrin" [nzMin]="10" [nzMax]="60"
        [nzStep]="5">
      </nz-input-number>
    </label>

    <div class="flex-row option">
      <button class="cancel" nz-button nzSize="small" nzShape="round" nzType="default"  (click)="configCancel()">cancel</button>
      <button class="apply" nz-button nzSize="small" nzShape="round" nzType="primary" (click)="configApply()">Apply</button>
    </div>
  </div>

  <!-- </ng-container> -->
</nz-drawer>


<div id="home-conent">
  <nz-carousel [nzEnableSwipe]="UICtrl.config.nzEnableSwipe"
    [nzAutoPlay]="UICtrl.config.nzAutoPlay && !UICtrl.isEditState" [nzAutoPlaySpeed]="UICtrl.config.nzAutoPlaySpeed"
    [nzEffect]="UICtrl.config.nzEffect" #carousel (nzBeforeChange)="nzBeforeChange($event)">
    <ng-container *ngIf="!UICtrl.isEditState;else templateEditState">
      <div class="core-conent" nz-carousel-content *ngFor="let appGroup of UIModle.appGroupList; let pageIndex = index">
        <ul id="app-list-size" class="app-list">
          <ng-container *ngFor="let item of appGroup;let itemIndex = index">
            <!-- 非 empty -->
            <li class="app-item click" *ngIf="item.progId;else templateEmpty" [ngStyle]="UIStyle.appstyle"
              [style.background-color]="item.backgroundColor">
              <div class="app" [routerLink]="[item.urlPath,{progId: item.progId }]">
                <div class="app-icon">
                  <img [src]="item.imgUrl" width="80%" height="80%" alt="">
                </div>
                <div class="app-title">
                  {{item.name}}
                </div>
              </div>
            </li>
            <ng-template #templateEmpty>
              <!-- empty -->
              <li [ngStyle]="UIStyle.appstyle"></li>
            </ng-template>
          </ng-container>
        </ul>
      </div>
    </ng-container>

    <!-- Edit -->
    <ng-template #templateEditState>
      <div class="core-conent" nz-carousel-content
        *ngFor="let appGroup of UIModle.appGroupEditStateList; let pageIndex = index">
        <div dDroppable [dropScope]="'default-css'" [placeholderStyle]="UIStyle.placeholderStyle"
          (dropEvent)="onDrop($event,appGroup)">
          <ul id="app-list-size" class="app-list" dSortable>
            <ng-container *ngFor="let item of appGroup;let itemIndex = index">
              <!-- 非空允许拖动 -->
              <li class="app-item move" *ngIf="item.progId;else templateEmpty" dDraggable
                [originPlaceholder]="UIStyle.originPlaceholder" [dragScope]="'default-css'" [ngStyle]="UIStyle.appstyle"
                [dragData]="{ item: item, parent: appGroup }" [style.background-color]="item.backgroundColor">
                <div class="app">
                  <div class="app-icon">
                    <img [src]="item.imgUrl" width="80%" height="80%" alt="">
                  </div>
                  <div class="app-title">
                    {{item.name}}
                  </div>
                  <div class="option-delete" (click)="delete(appGroup,itemIndex)">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                  </div>
                </div>
              </li>
              <ng-template #templateEmpty>
                <!-- 空不允许拖动 -->
                <li [ngStyle]="UIStyle.appstyle"></li>
              </ng-template>
            </ng-container>

            <li class="app-item  option-add" [ngStyle]="UIStyle.appstyle" (click)="openModal()">
              +
            </li>
            <nz-modal [nzMask]="false" [(nzVisible)]="UICtrl.isVisible" nzTitle="Add APP"
              (nzOnCancel)="handleCancel($event,$event)" (nzOnOk)="addApp()">
              <div class="nz-modal-content ">
                <nz-select *ngIf="UICtrl.isVisible" nzShowSearch nzAllowClear nzPlaceHolder="Select a person"
                  [(ngModel)]="UIModle.selectedValue">
                  <nz-option *ngFor="let item of UIModle.selectedlist" [nzLabel]="item.name" [nzValue]="item">
                  </nz-option>
                </nz-select>
              </div>
            </nz-modal>
          </ul>
        </div>
      </div>
    </ng-template>
  </nz-carousel>
  <div class="bottom-option" *ngIf="UICtrl.isEditState">
    <button nz-button nzType="default" (click)="editCancel()" nzShape="round">cancel</button>
    <button nz-button nzType="primary" (click)="editSave()" nzShape="round">Save</button>
  </div>
</div>

<button class="button back" nz-button nzType="default" (click)="carousel.pre()">
  <i nz-icon nzType="left" nzTheme="outline"></i>
</button>
<button class="button next" nz-button nzType="default" (click)="carousel.next()">
  <i nz-icon nzType="right" nzTheme="outline"></i>
</button>
