<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="left" (nzOnClose)="close()">
  <!-- <div class="wrapper"> -->
    <ul nz-menu nzMode="inline" style="width: 100%;" nzTheme="dark">
      <li nz-submenu nzOpen nzTitle="Navigation One" nzIcon="appstore">
        <ul>
          <!-- <li nz-menu-group nzTitle="Item 1"> -->
          <!-- <ul> -->

          <li nz-menu-item>Option 2</li>
          <li nz-menu-item  nzMatchRouter>
            <!-- <a [routerLink]="['/admin/']" routerLinkActive="router-link-active" ></a> -->
            <a routerLink="/admin/dome-page" routerLinkActive="active">admin-dome</a>
          </li>
          <!-- </ul> -->
          <!-- </li> -->
          <!-- <li nz-menu-group nzTitle="Item 2"> -->
          <!-- <ul> -->
          <li nz-menu-item>Option 3</li>
          <li nz-menu-item>Option 4</li>
          <!-- </ul> -->
          <!-- </li> -->
        </ul>
      </li>
      <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Navigation Three" nzIcon="appstore">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
    </ul>
  <!-- </div> -->
</nz-drawer>


