<div id="app-root-portal">
  <app-top-bar *ngIf="islogin" [currentUrl]="currentUrl" (menuSwith)="onMenuSwith($event)"></app-top-bar>
  <app-menu-component *ngIf="islogin"  [visible]="visible"></app-menu-component>
  <router-outlet></router-outlet>
</div>
