/* You can add global styles to this file, and also import other style files */
@import "./assets/style/ng-zorro-antd.min.css";

// important
.ant-drawer-content {
  top: 6vh;
}

.ant-drawer-body {
  padding: 0px;
}

.ant-drawer.ant-drawer-open .ant-drawer-mask {
  opacity: 0.2;
}

nz-select{
  width: 100%;
}

.click, i{
  cursor: pointer;
}

.move{
  cursor: move;
}
