<div id="login-page">
  <div class="content">
      <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateUser">
        <input type="text" nz-input placeholder="Enter your username" />
      </nz-input-group>
    <nz-input-group [nzPrefix]="prefixTemplatePassword">
      <input type="text" nz-input placeholder="Enter your password" />
    </nz-input-group>
    <nz-input-group>
      <button nz-button nzType="primary" (click)="login()" (keydown.enter)="login()">Login</button>
    </nz-input-group>
    <ng-template #prefixTemplateUser>
      <svg t="1631536671945" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
        p-id="6054" width="24" height="24">
        <path
          d="M819.2 729.088V757.76c0 33.792-27.648 61.44-61.44 61.44H266.24c-33.792 0-61.44-27.648-61.44-61.44v-28.672c0-74.752 87.04-119.808 168.96-155.648 3.072-1.024 5.12-2.048 8.192-4.096 6.144-3.072 13.312-3.072 19.456 1.024C434.176 591.872 472.064 604.16 512 604.16c39.936 0 77.824-12.288 110.592-32.768 6.144-4.096 13.312-4.096 19.456-1.024 3.072 1.024 5.12 2.048 8.192 4.096 81.92 34.816 168.96 79.872 168.96 154.624z"
          p-id="6055"></path>
        <path d="M359.424 373.76a168.96 152.576 90 1 0 305.152 0 168.96 152.576 90 1 0-305.152 0Z" p-id="6056"></path>
      </svg>
    </ng-template>
    <ng-template #suffixTemplateInfo>
      <i nz-icon nz-tooltip nzTitle="Extra information" nzType="info-circle"></i>
    </ng-template>
    <ng-template #prefixTemplatePassword>
      <svg t="1631536304238" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
        p-id="2502" width="24" height="24">
        <path
          d="M780.8 354.58H665.6v-42.89c0-72.31-19.85-193.3-153.6-193.3-138.87 0-153.6 135.05-153.6 193.3v42.89H243.2v-42.89C243.2 122.25 348.79 0 512 0s268.8 122.25 268.8 311.69v42.89z m-192 314.84c0-43.52-34.58-78.65-76.8-78.65s-76.8 35.13-76.8 78.65c0 29.46 15.4 54.47 38.44 67.82v89.64c0 21.74 17.25 39.7 38.4 39.7s38.4-17.96 38.4-39.7v-89.64c23-13.35 38.36-38.36 38.36-67.82zM896 512v393.61c0 65.26-51.87 118.39-115.2 118.39H243.2c-63.291 0-115.2-53.13-115.2-118.39V512c0-65.22 51.87-118.39 115.2-118.39h537.6c63.33 0 115.2 53.17 115.2 118.39z"
          p-id="2503" fill="#333333"></path>
      </svg>
    </ng-template>
  </div>

</div>
