:host,
#login-page {
  width: 100vw;
  height: 100vh;
}
#login-page {
  position: fixed;
  z-index: 1000;
  background: #ffffff url(../../../assets/imgs/login-next.gif) no-repeat center
    center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 300px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    nz-input-group {
      margin-bottom: 25px;
      input {
        height: 35px;
        padding-left: 45px;
      }
      button {
        height: 35px;
        width: 100%;
        color: #ffffff;
        background-color: #409eff;
        outline: none;
        border: none;
      }
    }
  }
}
